[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cirq = "*"
uuid = "*"
numpy = "*"
django-cors-headers = "*"
pokereval = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
